:root {
    --synth1-normal-color: #BD51D4;
    --synth1-light-color: #C37CD3;
    --synth2-normal-color: #009C8C;
    --synth2-light-color: #5A9991;
    --drum-normal-color: #F09932;
    --drum-light-color: #EFC18D;
    --background-normal-color: #BBB;
    --background-light-color: #DDD;
}
body {
    font-family: 'Roboto', sans-serif;
}
h1 
{
    text-align: center;
    margin: 5px 2px 10px 2px;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}
table tr#title {
    background-color: #777;
    color: #FFF;
}
table#settingsTable {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
    table-layout: auto;
    margin-bottom: 15px;
} 
table#settingsTable th {
    border-collapse: collapse;
    padding: 4px;
} 
table#settingsTable td {
    border-collapse: collapse;
    padding: 4px;
} 
table#settingsTable tr#heading th:nth-child(1) {
    background-color: var(--background-normal-color);
}
table#settingsTable td:nth-child(1) {
    background-color: var(--background-light-color);
}
table#settingsTable tr#heading th:nth-child(2) {
    background-color: var(--synth1-normal-color);
}
table#settingsTable td:nth-child(2) {
    background-color: var(--synth1-light-color);
}
table#settingsTable tr#heading th:nth-child(3) {
    background-color: var(--synth2-normal-color);
}
table#settingsTable td:nth-child(3) {
    background-color: var(--synth2-light-color);
}
table#settingsTable tr#heading th:nth-child(4) {
    background-color: var(--drum-normal-color);
}
table#settingsTable td:nth-child(4) {
    background-color: var(--drum-light-color);
}
table#settingsTable .device  {
    text-align: left;
}
table#settingsTable td {
    text-align: center;
}

table.midiMapperTable {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
    table-layout: auto;
} 
table.midiMapperTable tr {
    border: 1px solid black;
    border-collapse: collapse;
} 
table.midiMapperTable tr.mappingTitle {
    background-color: #777;
    color: #FFF;
}
table.midiMapperTable tr.mappingTitle th {
    padding: 4px;
}
table.midiMapperTable td.synth1LightColor {
    background-color: var(--synth1-light-color);
}
table.midiMapperTable td.synth2LightColor {
    background-color: var(--synth2-light-color);
}
table.midiMapperTable td.drumLightColor {
    background-color: var(--drum-light-color);
}
table.midiMapperTable td.backgroundLightColor {
    background-color: var(--background-light-color);
}
table.midiMapperTable td, table#midiMapperTable th {
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
    padding: 1px 4px 1px 4px;
} 
table.midiMapperTable td#value {
    background-image: linear-gradient(to right, rgb(240, 240, 240) 0%, rgb(180, 180, 180) 100%);
    background-repeat: no-repeat; 
}

.check {
    display: block;
    position: relative;
    padding-left: 28px;
    padding-right: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.alone {
    padding-left: 9px;
}
.check input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid #999;
    margin-top: 1px;
    margin-left: 2px;
}
.check:hover input ~ .checkmark {
    background-color: #ccc;
}
.check input:checked ~ .checkmark {
    background-color: #FFF;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.check input:checked ~ .checkmark:after {
    display: block;
}
.check .checkmark:after {
    left: 3px;
    top: 1px;
    width: 5px;
    height: 8px;
    border: solid #555;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}            
